<h1>Blog App</h1>

<hr>

<h3>
    Create Post: <%= link_to "New post", new_post_path %> <br>
    Create Profile: <%= link_to "Create profile", new_profile_path if !current_user.profile %>
</h3>

<hr>

<p>
    These are all the posts from the users.
</p>

<% @posts.each do |post| %>
    <h3>
        <%= post.title %> 
    </h3>
    <p>
        <%= post.description %>
    </p>
    <strong>
        <%= post.user.email %>
    </strong>
    <p>
        <%= link_to 'Edit', edit_post_path(post) %>
    </p>
<% end %> 